This file tells Git which files and folders to ignore.

Ignore the .env file which contains our secrets!

.env

Ignore the node_modules folder which contains all installed packages.

node_modules/

Ignore system files

.DS_Store